div.sourceCode, pre:not(.sourceCode) {
  background: #FDF6E3;
}

pre code {
  color: #657B83;
}

/* Keyword */
code span.kw {
  color: #859900;
  font-weight: bold;
  font-style: normal;
}

/* DataType */
code span.dt {
  color: #B58900;
  font-weight: normal;
  font-style: normal;
}

/* DecVal */
code span.dv {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* BaseN */
code span.bn {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* Float */
code span.fl {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* Char */
code span.ch {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* String */
code span.st {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* Comment */
code span.co {
  color: #93A1A1;
  font-weight: normal;
  font-style: italic;
}

/* Other */
code span.ot {
  color: #268BD2;
  font-weight: normal;
  font-style: normal;
}

/* Alert */
code span.al {
  color: #DC322F;
  font-weight: bold;
  font-style: normal;
}

/* Function */
code span.fu {
  color: #268BD2;
  font-weight: normal;
  font-style: normal;
}

/* Error */
code span.er {
  color: #DC322F;
  font-weight: bold;
  font-style: normal;
}

/* Warning */
code span.wa {
  color: #CB4B16;
  font-weight: bold;
  font-style: italic;
}

/* Constant */
code span.cn {
  color: #2AA198;
  font-weight: normal;
  font-style: normal;
}

/* SpecialChar */
code span.sc {
  color: #DC322F;
  font-weight: normal;
  font-style: normal;
}

/* VerbatimString */
code span.vs {
  color: #657B83;
  font-weight: normal;
  font-style: normal;
}

/* SpecialString */
code span.ss {
  color: #DC322F;
  font-weight: normal;
  font-style: normal;
}

/* Import */
code span.im {
  color: #657B83;
  font-weight: normal;
  font-style: normal;
}

/* Variable */
code span.va {
  color: #268BD2;
  font-weight: normal;
  font-style: normal;
}

/* ControlFlow */
code span.cf {
  color: #859900;
  font-weight: bold;
  font-style: normal;
}

/* Operator */
code span.op {
  color: #859900;
  font-weight: bold;
  font-style: normal;
}

/* BuiltIn */
code span.bu {
  color: #657B83;
  font-weight: normal;
  font-style: normal;
}

/* Extension */
code span.ex {
  color: #657B83;
  font-weight: normal;
  font-style: normal;
}

/* Preprocessor */
code span.pp {
  color: #CB4B16;
  font-weight: normal;
  font-style: normal;
}

/* Attribute */
code span.at {
  color: #657B83;
  font-weight: normal;
  font-style: normal;
}

/* Documentation */
code span.do {
  color: #93A1A1;
  font-weight: normal;
  font-style: italic;
}

/* Annotation */
code span.an {
  color: #93A1A1;
  font-weight: bold;
  font-style: italic;
}

/* CommentVar */
code span.cv {
  color: #93A1A1;
  font-weight: bold;
  font-style: italic;
}

/* Information */
code span.in {
  color: #93A1A1;
  font-weight: bold;
  font-style: italic;
}
